@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --crna: #161b27;
  --zelena: #29bba9;
  --rdeca: #ee3e3e;
  --bela: #f5f5f5;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(22, 27, 39, 0.2);
}

body {
  background: var(--crna);
  color: var(--crna);
}
